<template>
  <section class="container">
    <HeaderWidgets />
    <RandomWallpaper />
    <SetWallpaper />
    <DownloadPicture />
  </section>
</template>

<script setup lang="ts">
import HeaderWidgets from './components/HeaderWidgets.vue'
import RandomWallpaper from './components/RandomWallpaper.vue'
import DownloadPicture from './components/DownloadPicture.vue'
import SetWallpaper from './components/SetWallpaper.vue'
</script>

<style lang="less">
@import './assets/css/styles.less';
</style>

<style scoped lang="less">
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
