<template>
  <div class="header-widgets">
    <span>Cheerful</span>
    <ul class="widgets">
      Settings
    </ul>
  </div>
</template>

<style lang="less" scoped>
.header-widgets {
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  background-color: rgb(252, 252, 252);
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(101, 101, 101);
}
</style>
