<template>
  <div class="wallpaper-container" @click.stop="randomWallpaper">
    <img :src="wallpaperSourceURL" alt="wallpaper" />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const wallpaperSourceURL = ref<string>(
  'https://images.unsplash.com/photo-1688362378022-766308fe48c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80'
)
const randomWallpaper = (): void => {
  window.api.downloadWallpaper(wallpaperSourceURL.value)
}
</script>

<style scoped lang="less">
.wallpaper-container {
  height: 220px;
  width: 100vw;
  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
</style>
