<template>
  <div class="container">
    <button @click.stop="setWallpaper">Set Wallpaper</button>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const wallpaperUrl = computed(
  () =>
    'https://images.unsplash.com/photo-1687870956342-cbb668245090?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1013&q=80'
)
const setWallpaper = (): void => {
  window.api.setWallpaper(wallpaperUrl.value)
}
</script>
<style scoped lang="less">
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
</style>
